In [1]:
from google.colab import drive
/drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz

In [4]:
!tar xf spark-3.1.2-bin-hadoop3.2.tgz

In [5]:
!pip install -q findspark

In [13]:
!pip3 install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 54 kB/s
Collecting py4j==0.10.9
  Using cached py4j-0.10.9-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=5f3a24127737eda893f5674027c7f2b0d7e225199bc8bc9eb963be877e563585
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [6]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [15]:
import findspark
import pyspark
from pyspark.sql import SparkSession
import pyspark.sql.functions as fn
from pyspark.sql import functions as sf

findspark.init()

In [ ]:
'''from pyspark import SparkContext
sc = SparkContext()'''

In [16]:
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [17]:
spark

In [18]:
df = spark.read.csv("/content/drive/MyDrive/german_data.csv", header=True, inferSchema=True)

In [19]:
df.show()

+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
|Existing_account|Duration_month|Credit_history|Purpose|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
|             B11|             6|           A34|    A43|         1169|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1|
|             G12|            48|           A32|    A43|         5951|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|
|             C14|            12|           A34|   NULL|         2096|   A61|                A74|               2|            A93|   A101|                   3|    A121| 49|             A143|   A152|                1|A172|            2|     A191|          A201|             1|
|             D11|            42|           A32|    A42|         7882|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|
|             E11|            24|           A33|    A40|         4870|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|
|             A14|            36|           A32|    A46|         9055|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|
|             A14|            24|           A32|    A42|         2835|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|
|             G12|            36|           A32|    A41|         6948|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|
|             A14|            12|           A32|    A43|         3059|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|
|             F12|            30|           A34|    A40|         5234|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|
|             A12|            12|           A32|    A40|         1295|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|
|             A11|            48|           A32|   NULL|         4308|   A61|                A72|               3|            A92|   A101|                   4|    NULL| 24|             A143|   A151|                1|A173|            1|     A191|          A201|             2|
|             A12|            12|           A32|    A43|         1567|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|
|             A12|            24|           A34|    A40|         1199|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|
|             H11|            15|           A32|    A40|         1403|   A61|                A73|               2|           NULL|   A101|                   4|    A123| 28|             A143|   A151|                1|A173|            1|     A191|          A201|             1|
|             I11|            24|           A32|    A43|         1282|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|
|             J14|            24|           A34|    A43|         2424|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|
|             A11|            30|           A30|    A49|         8072|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|
|             A12|            24|           A32|    A41|        12579|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|
|             J12|            24|           A32|    A43|         3430|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
only showing top 20 rows

In [20]:
df = df.filter((df.Purpose != 'NULL') & (df.Existing_account != 'NULL') & (df.Property !=  'NULL') & (df.Personal_status != 'NULL') & (df.Existing_account != 'NULL')  & (df.Credit_amount != 'NULL' ) & (df.Installment_plans != 'NULL'))

In [21]:
df.show()

+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
|Existing_account|Duration_month|Credit_history|Purpose|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
|             B11|             6|           A34|    A43|         1169|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1|
|             G12|            48|           A32|    A43|         5951|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|
|             D11|            42|           A32|    A42|         7882|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|
|             E11|            24|           A33|    A40|         4870|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|
|             A14|            36|           A32|    A46|         9055|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|
|             A14|            24|           A32|    A42|         2835|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|
|             G12|            36|           A32|    A41|         6948|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|
|             A14|            12|           A32|    A43|         3059|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|
|             F12|            30|           A34|    A40|         5234|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|
|             A12|            12|           A32|    A40|         1295|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|
|             A12|            12|           A32|    A43|         1567|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|
|             A12|            24|           A34|    A40|         1199|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|
|             I11|            24|           A32|    A43|         1282|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|
|             J14|            24|           A34|    A43|         2424|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|
|             A11|            30|           A30|    A49|         8072|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|
|             A12|            24|           A32|    A41|        12579|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|
|             J12|            24|           A32|    A43|         3430|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|
|             K14|             9|           A34|    A40|         2134|   A61|                A73|               4|            A93|   A101|                   4|    A123| 48|             A143|   A152|                3|A173|            1|     A192|          A201|             1|
|             L11|             6|           A32|    A43|         2647|   A63|                A73|               2|            A93|   A101|                   3|    A121| 44|             A143|   A151|                1|A173|            2|     A191|          A201|             1|
|             A11|            10|           A34|    A40|         2241|   A61|                A72|               1|            A93|   A101|                   3|    A121| 48|             A143|   A151|                2|A172|            2|     A191|          A202|             1|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
only showing top 20 rows

In [22]:
df = df.withColumn("Credit_amount", df['Credit_amount'].cast('float'))

In [23]:
df.show()

+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
|Existing_account|Duration_month|Credit_history|Purpose|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
|             B11|             6|           A34|    A43|       1169.0|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1|
|             G12|            48|           A32|    A43|       5951.0|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|
|             D11|            42|           A32|    A42|       7882.0|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|
|             E11|            24|           A33|    A40|       4870.0|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|
|             A14|            36|           A32|    A46|       9055.0|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|
|             A14|            24|           A32|    A42|       2835.0|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|
|             G12|            36|           A32|    A41|       6948.0|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|
|             A14|            12|           A32|    A43|       3059.0|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|
|             F12|            30|           A34|    A40|       5234.0|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|
|             A12|            12|           A32|    A40|       1295.0|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|
|             A12|            12|           A32|    A43|       1567.0|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|
|             A12|            24|           A34|    A40|       1199.0|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|
|             I11|            24|           A32|    A43|       1282.0|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|
|             J14|            24|           A34|    A43|       2424.0|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|
|             A11|            30|           A30|    A49|       8072.0|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|
|             A12|            24|           A32|    A41|      12579.0|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|
|             J12|            24|           A32|    A43|       3430.0|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|
|             K14|             9|           A34|    A40|       2134.0|   A61|                A73|               4|            A93|   A101|                   4|    A123| 48|             A143|   A152|                3|A173|            1|     A192|          A201|             1|
|             L11|             6|           A32|    A43|       2647.0|   A63|                A73|               2|            A93|   A101|                   3|    A121| 44|             A143|   A151|                1|A173|            2|     A191|          A201|             1|
|             A11|            10|           A34|    A40|       2241.0|   A61|                A72|               1|            A93|   A101|                   3|    A121| 48|             A143|   A151|                2|A172|            2|     A191|          A202|             1|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+
only showing top 20 rows

In [24]:
split_col= pyspark.sql.functions.split(df['Existing_account'], '')
df = df.withColumn('Month', split_col.getItem(0))
df = df.withColumn('day1', split_col.getItem(1))
df = df.withColumn('day2', split_col.getItem(2))

df = df.withColumn('Days', sf.concat(sf.col('day1'),sf.col('day2')))
df = df.drop('day1')
df = df.drop('day2')
df.show()

+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+-----+----+
|Existing_account|Duration_month|Credit_history|Purpose|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|Month|Days|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+-----+----+
|             B11|             6|           A34|    A43|       1169.0|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1|    B|  11|
|             G12|            48|           A32|    A43|       5951.0|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|    G|  12|
|             D11|            42|           A32|    A42|       7882.0|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|    D|  11|
|             E11|            24|           A33|    A40|       4870.0|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|    E|  11|
|             A14|            36|           A32|    A46|       9055.0|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|    A|  14|
|             A14|            24|           A32|    A42|       2835.0|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|    A|  14|
|             G12|            36|           A32|    A41|       6948.0|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|    G|  12|
|             A14|            12|           A32|    A43|       3059.0|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|    A|  14|
|             F12|            30|           A34|    A40|       5234.0|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|    F|  12|
|             A12|            12|           A32|    A40|       1295.0|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|    A|  12|
|             A12|            12|           A32|    A43|       1567.0|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|    A|  12|
|             A12|            24|           A34|    A40|       1199.0|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|    A|  12|
|             I11|            24|           A32|    A43|       1282.0|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|    I|  11|
|             J14|            24|           A34|    A43|       2424.0|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|    J|  14|
|             A11|            30|           A30|    A49|       8072.0|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|    A|  11|
|             A12|            24|           A32|    A41|      12579.0|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|    A|  12|
|             J12|            24|           A32|    A43|       3430.0|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|    J|  12|
|             K14|             9|           A34|    A40|       2134.0|   A61|                A73|               4|            A93|   A101|                   4|    A123| 48|             A143|   A152|                3|A173|            1|     A192|          A201|             1|    K|  14|
|             L11|             6|           A32|    A43|       2647.0|   A63|                A73|               2|            A93|   A101|                   3|    A121| 44|             A143|   A151|                1|A173|            2|     A191|          A201|             1|    L|  11|
|             A11|            10|           A34|    A40|       2241.0|   A61|                A72|               1|            A93|   A101|                   3|    A121| 48|             A143|   A151|                2|A172|            2|     A191|          A202|             1|    A|  11|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+-----+----+
only showing top 20 rows

In [25]:
Month_Dict = {
    'A':'January',
    'B':'February',
    'C':'March',
    'D':'April',
    'E':'May',
    'F':'June',
    'G':'July',
    'H':'August',
    'I':'September',
    'J':'October',
    'K':'November',
    'L':'December'
    }
df = df.replace(Month_Dict,subset=['Month'])

In [26]:
df.show()

+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+
|Existing_account|Duration_month|Credit_history|Purpose|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|    Month|Days|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+
|             B11|             6|           A34|    A43|       1169.0|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1| February|  11|
|             G12|            48|           A32|    A43|       5951.0|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|     July|  12|
|             D11|            42|           A32|    A42|       7882.0|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|    April|  11|
|             E11|            24|           A33|    A40|       4870.0|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|      May|  11|
|             A14|            36|           A32|    A46|       9055.0|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|  January|  14|
|             A14|            24|           A32|    A42|       2835.0|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|  January|  14|
|             G12|            36|           A32|    A41|       6948.0|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|     July|  12|
|             A14|            12|           A32|    A43|       3059.0|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|  January|  14|
|             F12|            30|           A34|    A40|       5234.0|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|     June|  12|
|             A12|            12|           A32|    A40|       1295.0|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|  January|  12|
|             A12|            12|           A32|    A43|       1567.0|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|  January|  12|
|             A12|            24|           A34|    A40|       1199.0|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|  January|  12|
|             I11|            24|           A32|    A43|       1282.0|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|September|  11|
|             J14|            24|           A34|    A43|       2424.0|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|  October|  14|
|             A11|            30|           A30|    A49|       8072.0|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|  January|  11|
|             A12|            24|           A32|    A41|      12579.0|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|  January|  12|
|             J12|            24|           A32|    A43|       3430.0|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|  October|  12|
|             K14|             9|           A34|    A40|       2134.0|   A61|                A73|               4|            A93|   A101|                   4|    A123| 48|             A143|   A152|                3|A173|            1|     A192|          A201|             1| November|  14|
|             L11|             6|           A32|    A43|       2647.0|   A63|                A73|               2|            A93|   A101|                   3|    A121| 44|             A143|   A151|                1|A173|            2|     A191|          A201|             1| December|  11|
|             A11|            10|           A34|    A40|       2241.0|   A61|                A72|               1|            A93|   A101|                   3|    A121| 48|             A143|   A151|                2|A172|            2|     A191|          A202|             1|  January|  11|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+
only showing top 20 rows

In [27]:
split_purpose= pyspark.sql.functions.split(df['Purpose'], '')
df = df.withColumn('File_month', split_purpose.getItem(0))
df = df.withColumn('ver1', split_purpose.getItem(1))
df = df.withColumn('ver2', split_purpose.getItem(2))

df=df.withColumn('Version', sf.concat(sf.col('ver1'),sf.col('ver2')))
df = df.drop('ver1')
df = df.drop('ver2')
df.show()

+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
|Existing_account|Duration_month|Credit_history|Purpose|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|    Month|Days|File_month|Version|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
|             B11|             6|           A34|    A43|       1169.0|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1| February|  11|         A|     43|
|             G12|            48|           A32|    A43|       5951.0|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|     July|  12|         A|     43|
|             D11|            42|           A32|    A42|       7882.0|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|    April|  11|         A|     42|
|             E11|            24|           A33|    A40|       4870.0|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|      May|  11|         A|     40|
|             A14|            36|           A32|    A46|       9055.0|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|  January|  14|         A|     46|
|             A14|            24|           A32|    A42|       2835.0|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|  January|  14|         A|     42|
|             G12|            36|           A32|    A41|       6948.0|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|     July|  12|         A|     41|
|             A14|            12|           A32|    A43|       3059.0|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|  January|  14|         A|     43|
|             F12|            30|           A34|    A40|       5234.0|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|     June|  12|         A|     40|
|             A12|            12|           A32|    A40|       1295.0|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|  January|  12|         A|     40|
|             A12|            12|           A32|    A43|       1567.0|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|  January|  12|         A|     43|
|             A12|            24|           A34|    A40|       1199.0|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|  January|  12|         A|     40|
|             I11|            24|           A32|    A43|       1282.0|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|September|  11|         A|     43|
|             J14|            24|           A34|    A43|       2424.0|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|  October|  14|         A|     43|
|             A11|            30|           A30|    A49|       8072.0|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|  January|  11|         A|     49|
|             A12|            24|           A32|    A41|      12579.0|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|  January|  12|         A|     41|
|             J12|            24|           A32|    A43|       3430.0|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|  October|  12|         A|     43|
|             K14|             9|           A34|    A40|       2134.0|   A61|                A73|               4|            A93|   A101|                   4|    A123| 48|             A143|   A152|                3|A173|            1|     A192|          A201|             1| November|  14|         A|     40|
|             L11|             6|           A32|    A43|       2647.0|   A63|                A73|               2|            A93|   A101|                   3|    A121| 44|             A143|   A151|                1|A173|            2|     A191|          A201|             1| December|  11|         A|     43|
|             A11|            10|           A34|    A40|       2241.0|   A61|                A72|               1|            A93|   A101|                   3|    A121| 48|             A143|   A151|                2|A172|            2|     A191|          A202|             1|  January|  11|         A|     40|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
only showing top 20 rows

In [28]:
df= df.replace(Month_Dict,subset=['File_month'])

In [29]:
df.show()

+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
|Existing_account|Duration_month|Credit_history|Purpose|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|    Month|Days|File_month|Version|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
|             B11|             6|           A34|    A43|       1169.0|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1| February|  11|   January|     43|
|             G12|            48|           A32|    A43|       5951.0|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|     July|  12|   January|     43|
|             D11|            42|           A32|    A42|       7882.0|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|    April|  11|   January|     42|
|             E11|            24|           A33|    A40|       4870.0|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|      May|  11|   January|     40|
|             A14|            36|           A32|    A46|       9055.0|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|  January|  14|   January|     46|
|             A14|            24|           A32|    A42|       2835.0|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|  January|  14|   January|     42|
|             G12|            36|           A32|    A41|       6948.0|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|     July|  12|   January|     41|
|             A14|            12|           A32|    A43|       3059.0|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|  January|  14|   January|     43|
|             F12|            30|           A34|    A40|       5234.0|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|     June|  12|   January|     40|
|             A12|            12|           A32|    A40|       1295.0|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|  January|  12|   January|     40|
|             A12|            12|           A32|    A43|       1567.0|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|  January|  12|   January|     43|
|             A12|            24|           A34|    A40|       1199.0|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|  January|  12|   January|     40|
|             I11|            24|           A32|    A43|       1282.0|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|September|  11|   January|     43|
|             J14|            24|           A34|    A43|       2424.0|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|  October|  14|   January|     43|
|             A11|            30|           A30|    A49|       8072.0|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|  January|  11|   January|     49|
|             A12|            24|           A32|    A41|      12579.0|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|  January|  12|   January|     41|
|             J12|            24|           A32|    A43|       3430.0|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|  October|  12|   January|     43|
|             K14|             9|           A34|    A40|       2134.0|   A61|                A73|               4|            A93|   A101|                   4|    A123| 48|             A143|   A152|                3|A173|            1|     A192|          A201|             1| November|  14|   January|     40|
|             L11|             6|           A32|    A43|       2647.0|   A63|                A73|               2|            A93|   A101|                   3|    A121| 44|             A143|   A151|                1|A173|            2|     A191|          A201|             1| December|  11|   January|     43|
|             A11|            10|           A34|    A40|       2241.0|   A61|                A72|               1|            A93|   A101|                   3|    A121| 48|             A143|   A151|                2|A172|            2|     A191|          A202|             1|  January|  11|   January|     40|
+----------------+--------------+--------------+-------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
only showing top 20 rows

In [30]:
df = df.drop('Purpose')
df = df.drop('Existing_account')

In [31]:
df.show()

+--------------+--------------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
|Duration_month|Credit_history|Credit_amount|Saving|Employment_duration|Installment_rate|Personal_status|Debtors|Residential_Duration|Property|Age|Installment_plans|Housing|Number_of_credits| Job|Liable_People|Telephone|Foreign_worker|Classification|    Month|Days|File_month|Version|
+--------------+--------------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
|             6|           A34|       1169.0|   A65|                A75|               4|            A93|   A101|                   4|    A121| 67|             A143|   A152|                2|A173|            1|     A192|          A201|             1| February|  11|   January|     43|
|            48|           A32|       5951.0|   A61|                A73|               2|            A92|   A101|                   2|    A121| 22|             A143|   A152|                1|A173|            1|     A191|          A201|             1|     July|  12|   January|     43|
|            42|           A32|       7882.0|   A61|                A74|               2|            A93|   A103|                   4|    A122| 45|             A143|   A153|                1|A173|            2|     A191|          A201|             1|    April|  11|   January|     42|
|            24|           A33|       4870.0|   A61|                A73|               3|            A93|   A101|                   4|    A124| 53|             A143|   A153|                2|A173|            2|     A191|          A201|             2|      May|  11|   January|     40|
|            36|           A32|       9055.0|   A65|                A73|               2|            A93|   A101|                   4|    A124| 35|             A143|   A153|                1|A172|            2|     A192|          A201|             1|  January|  14|   January|     46|
|            24|           A32|       2835.0|   A63|                A75|               3|            A93|   A101|                   4|    A122| 53|             A143|   A152|                1|A173|            1|     A191|          A201|             1|  January|  14|   January|     42|
|            36|           A32|       6948.0|   A61|                A73|               2|            A93|   A101|                   2|    A123| 35|             A143|   A151|                1|A174|            1|     A192|          A201|             1|     July|  12|   January|     41|
|            12|           A32|       3059.0|   A64|                A74|               2|            A91|   A101|                   4|    A121| 61|             A143|   A152|                1|A172|            1|     A191|          A201|             1|  January|  14|   January|     43|
|            30|           A34|       5234.0|   A61|                A71|               4|            A94|   A101|                   2|    A123| 28|             A143|   A152|                2|A174|            1|     A191|          A201|             2|     June|  12|   January|     40|
|            12|           A32|       1295.0|   A61|                A72|               3|            A92|   A101|                   1|    A123| 25|             A143|   A151|                1|A173|            1|     A191|          A201|             2|  January|  12|   January|     40|
|            12|           A32|       1567.0|   A61|                A73|               1|            A92|   A101|                   1|    A123| 22|             A143|   A152|                1|A173|            1|     A192|          A201|             1|  January|  12|   January|     43|
|            24|           A34|       1199.0|   A61|                A75|               4|            A93|   A101|                   4|    A123| 60|             A143|   A152|                2|A172|            1|     A191|          A201|             2|  January|  12|   January|     40|
|            24|           A32|       1282.0|   A62|                A73|               4|            A92|   A101|                   2|    A123| 32|             A143|   A152|                1|A172|            1|     A191|          A201|             1|September|  11|   January|     43|
|            24|           A34|       2424.0|   A65|                A75|               4|            A93|   A101|                   4|    A122| 53|             A143|   A152|                2|A173|            1|     A191|          A201|             1|  October|  14|   January|     43|
|            30|           A30|       8072.0|   A65|                A72|               2|            A93|   A101|                   3|    A123| 25|             A141|   A152|                3|A173|            1|     A191|          A201|             1|  January|  11|   January|     49|
|            24|           A32|      12579.0|   A61|                A75|               4|            A92|   A101|                   2|    A124| 44|             A143|   A153|                1|A174|            1|     A192|          A201|             1|  January|  12|   January|     41|
|            24|           A32|       3430.0|   A63|                A75|               3|            A93|   A101|                   2|    A123| 31|             A143|   A152|                1|A173|            2|     A192|          A201|             1|  October|  12|   January|     43|
|             9|           A34|       2134.0|   A61|                A73|               4|            A93|   A101|                   4|    A123| 48|             A143|   A152|                3|A173|            1|     A192|          A201|             1| November|  14|   January|     40|
|             6|           A32|       2647.0|   A63|                A73|               2|            A93|   A101|                   3|    A121| 44|             A143|   A151|                1|A173|            2|     A191|          A201|             1| December|  11|   January|     43|
|            10|           A34|       2241.0|   A61|                A72|               1|            A93|   A101|                   3|    A121| 48|             A143|   A151|                2|A172|            2|     A191|          A202|             1|  January|  11|   January|     40|
+--------------+--------------+-------------+------+-------------------+----------------+---------------+-------+--------------------+--------+---+-----------------+-------+-----------------+----+-------------+---------+--------------+--------------+---------+----+----------+-------+
only showing top 20 rows

In [ ]:
#df = spark.read.csv("/content/drive/MyDrive/products.csv", header=True, inferSchema=True)

In [ ]:
mk = sc.parallelize([1,2,3,4])		
mk.take(1)
squared = mk.map(lambda x: x*x).collect()
squared
s = mk.count()
s

4

In [ ]:
#swimmers = spark.read.json('/content/drive/MyDrive/X_test_small.json')
swimmers = spark.read.format("json").load("/content/drive/MyDrive/testing.json")

In [ ]:
#df = spark.read.csv("/content/drive/MyDrive/products.csv", header=True, inferSchema=True)

In [ ]:
swimmers.createOrReplaceTempView("swimmers")

In [ ]:
spark.sql("Select * from swimmers").collect()

[Row(City='PARC PARQUE', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=17.96, Location='NA-US-PR-PARC PARQUE', LocationText='Parc Parque, PR', LocationType='NOT ACCEPTABLE', Long=-66.22, Notes=None, RecordNumber=1, State='PR', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.38, Yaxis=-0.87, Zaxis=0.3, ZipCodeType='STANDARD', Zipcode=704),
 Row(City='PASEO COSTA DEL SUR', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=17.96, Location='NA-US-PR-PASEO COSTA DEL SUR', LocationText='Paseo Costa Del Sur, PR', LocationType='NOT ACCEPTABLE', Long=-66.22, Notes=None, RecordNumber=2, State='PR', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.38, Yaxis=-0.87, Zaxis=0.3, ZipCodeType='STANDARD', Zipcode=704),
 Row(City='BDA SAN LUIS', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=18.14, Location='NA-US-PR-BDA SAN LUIS', LocationText='Bda San Luis, PR', LocationType='NOT ACCEPTABLE', Long=-66.26, Notes=None, RecordNumber=10, State='PR', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.38, Yaxis=-0.86, Zaxis=0.31, ZipCodeType='STANDARD', Zipcode=709),
 Row(City='CINGULAR WIRELESS', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=32.72, Location='NA-US-TX-CINGULAR WIRELESS', LocationText='Cingular Wireless, TX', LocationType='NOT ACCEPTABLE', Long=-97.31, Notes=None, RecordNumber=61391, State='TX', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=-0.1, Yaxis=-0.83, Zaxis=0.54, ZipCodeType='UNIQUE', Zipcode=76166),
 Row(City='FORT WORTH', Country='US', Decommisioned=False, EstimatedPopulation=4053, Lat=32.75, Location='NA-US-TX-FORT WORTH', LocationText='Fort Worth, TX', LocationType='PRIMARY', Long=-97.33, Notes=None, RecordNumber=61392, State='TX', TaxReturnsFiled=2126, TotalWages=122396986, WorldRegion='NA', Xaxis=-0.1, Yaxis=-0.83, Zaxis=0.54, ZipCodeType='STANDARD', Zipcode=76177),
 Row(City='FT WORTH', Country='US', Decommisioned=False, EstimatedPopulation=4053, Lat=32.75, Location='NA-US-TX-FT WORTH', LocationText='Ft Worth, TX', LocationType='ACCEPTABLE', Long=-97.33, Notes=None, RecordNumber=61393, State='TX', TaxReturnsFiled=2126, TotalWages=122396986, WorldRegion='NA', Xaxis=-0.1, Yaxis=-0.83, Zaxis=0.54, ZipCodeType='STANDARD', Zipcode=76177),
 Row(City='URB EUGENE RICE', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=17.96, Location='NA-US-PR-URB EUGENE RICE', LocationText='Urb Eugene Rice, PR', LocationType='NOT ACCEPTABLE', Long=-66.22, Notes=None, RecordNumber=4, State='PR', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.38, Yaxis=-0.87, Zaxis=0.3, ZipCodeType='STANDARD', Zipcode=704),
 Row(City='MESA', Country='US', Decommisioned=False, EstimatedPopulation=26883, Lat=33.37, Location='NA-US-AZ-MESA', LocationText='Mesa, AZ', LocationType='PRIMARY', Long=-111.64, Notes='no NWS data, ', RecordNumber=39827, State='AZ', TaxReturnsFiled=14962, TotalWages=563792730, WorldRegion='NA', Xaxis=-0.3, Yaxis=-0.77, Zaxis=0.55, ZipCodeType='STANDARD', Zipcode=85209),
 Row(City='MESA', Country='US', Decommisioned=False, EstimatedPopulation=25446, Lat=33.38, Location='NA-US-AZ-MESA', LocationText='Mesa, AZ', LocationType='PRIMARY', Long=-111.84, Notes=None, RecordNumber=39828, State='AZ', TaxReturnsFiled=14374, TotalWages=471000465, WorldRegion='NA', Xaxis=-0.31, Yaxis=-0.77, Zaxis=0.55, ZipCodeType='STANDARD', Zipcode=85210),
 Row(City='HILLIARD', Country='US', Decommisioned=False, EstimatedPopulation=7443, Lat=30.69, Location='NA-US-FL-HILLIARD', LocationText='Hilliard, FL', LocationType='PRIMARY', Long=-81.92, Notes=None, RecordNumber=49345, State='FL', TaxReturnsFiled=3922, TotalWages=133112149, WorldRegion='NA', Xaxis=0.12, Yaxis=-0.85, Zaxis=0.51, ZipCodeType='STANDARD', Zipcode=32046),
 Row(City='HOLDER', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=28.96, Location='NA-US-FL-HOLDER', LocationText='Holder, FL', LocationType='PRIMARY', Long=-82.41, Notes=None, RecordNumber=49346, State='FL', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.11, Yaxis=-0.86, Zaxis=0.48, ZipCodeType='PO BOX', Zipcode=34445),
 Row(City='HOLT', Country='US', Decommisioned=False, EstimatedPopulation=2190, Lat=30.72, Location='NA-US-FL-HOLT', LocationText='Holt, FL', LocationType='PRIMARY', Long=-86.67, Notes=None, RecordNumber=49347, State='FL', TaxReturnsFiled=1207, TotalWages=36395913, WorldRegion='NA', Xaxis=0.04, Yaxis=-0.85, Zaxis=0.51, ZipCodeType='STANDARD', Zipcode=32564),
 Row(City='HOMOSASSA', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=28.78, Location='NA-US-FL-HOMOSASSA', LocationText='Homosassa, FL', LocationType='PRIMARY', Long=-82.61, Notes=None, RecordNumber=49348, State='FL', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.11, Yaxis=-0.86, Zaxis=0.48, ZipCodeType='PO BOX', Zipcode=34487),
 Row(City='BDA SAN LUIS', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=18.14, Location='NA-US-PR-BDA SAN LUIS', LocationText='Bda San Luis, PR', LocationType='NOT ACCEPTABLE', Long=-66.26, Notes=None, RecordNumber=10, State='PR', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.38, Yaxis=-0.86, Zaxis=0.31, ZipCodeType='STANDARD', Zipcode=708),
 Row(City='SECT LANAUSSE', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=17.96, Location='NA-US-PR-SECT LANAUSSE', LocationText='Sect Lanausse, PR', LocationType='NOT ACCEPTABLE', Long=-66.22, Notes=None, RecordNumber=3, State='PR', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.38, Yaxis=-0.87, Zaxis=0.3, ZipCodeType='STANDARD', Zipcode=704),
 Row(City='SPRING GARDEN', Country='US', Decommisioned=False, EstimatedPopulation=None, Lat=33.97, Location='NA-US-AL-SPRING GARDEN', LocationText='Spring Garden, AL', LocationType='PRIMARY', Long=-85.55, Notes=None, RecordNumber=54354, State='AL', TaxReturnsFiled=None, TotalWages=None, WorldRegion='NA', Xaxis=0.06, Yaxis=-0.82, Zaxis=0.55, ZipCodeType='PO BOX', Zipcode=36275),
 Row(City='SPRINGVILLE', Country='US', Decommisioned=False, EstimatedPopulation=7845, Lat=33.77, Location='NA-US-AL-SPRINGVILLE', LocationText='Springville, AL', LocationType='PRIMARY', Long=-86.47, Notes=None, RecordNumber=54355, State='AL', TaxReturnsFiled=4046, TotalWages=172127599, WorldRegion='NA', Xaxis=0.05, Yaxis=-0.82, Zaxis=0.55, ZipCodeType='STANDARD', Zipcode=35146),
 Row(City='SPRUCE PINE', Country='US', Decommisioned=False, EstimatedPopulation=1209, Lat=34.37, Location='NA-US-AL-SPRUCE PINE', LocationText='Spruce Pine, AL', LocationType='PRIMARY', Long=-87.69, Notes=None, RecordNumber=54356, State='AL', TaxReturnsFiled=610, TotalWages=18525517, WorldRegion='NA', Xaxis=0.03, Yaxis=-0.82, Zaxis=0.56, ZipCodeType='STANDARD', Zipcode=35585),
 Row(City='ASH HILL', Country='US', Decommisioned=False, EstimatedPopulation=1666, Lat=36.4, Location='NA-US-NC-ASH HILL', LocationText='Ash Hill, NC', LocationType='NOT ACCEPTABLE', Long=-80.56, Notes=None, RecordNumber=76511, State='NC', TaxReturnsFiled=842, TotalWages=28876493, WorldRegion='NA', Xaxis=0.13, Yaxis=-0.79, Zaxis=0.59, ZipCodeType='STANDARD', Zipcode=27007),
 Row(City='ASHEBORO', Country='US', Decommisioned=False, EstimatedPopulation=15228, Lat=35.71, Location='NA-US-NC-ASHEBORO', LocationText='Asheboro, NC', LocationType='PRIMARY', Long=-79.81, Notes=None, RecordNumber=76512, State='NC', TaxReturnsFiled=8355, TotalWages=215474318, WorldRegion='NA', Xaxis=0.14, Yaxis=-0.79, Zaxis=0.58, ZipCodeType='STANDARD', Zipcode=27203),
 Row(City='ASHEBORO', Country='US', Decommisioned=False, EstimatedPopulation=1816, Lat=35.71, Location='NA-US-NC-ASHEBORO', LocationText='Asheboro, NC', LocationType='PRIMARY', Long=-79.81, Notes=None, RecordNumber=76513, State='NC', TaxReturnsFiled=1035, TotalWages=30322473, WorldRegion='NA', Xaxis=0.14, Yaxis=-0.79, Zaxis=0.58, ZipCodeType='PO BOX', Zipcode=27204)]

In [ ]:
swimmers.select('City', 'Country').filter("City Like 'A%'").show()

+--------+-------+
|    City|Country|
+--------+-------+
|ASH HILL|     US|
|ASHEBORO|     US|
|ASHEBORO|     US|
+--------+-------+

In [ ]:
spark.sql('Select City Country from swimmers where City Like "A%"').show()

+--------+
| Country|
+--------+
|ASH HILL|
|ASHEBORO|
|ASHEBORO|
+--------+

In [ ]:
df = spark.createDataFrame([
(1, 144.5, 5.9, 33, 'M'),
(2, 167.2, 5.4, 45, 'M'),
(3, 124.1, 5.2, 23, 'F'),
(4, 144.5, 5.9, 33, 'M'),
(5, 133.2, 5.7, 54, 'F'),
(3, 124.1, 5.2, 23, 'F'),
(5, 129.2, 5.3, 42, 'M'),
], ['id', 'weight', 'height', 'age', 'gender'])

In [ ]:
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
|  4| 144.5|   5.9| 33|     M|
|  5| 133.2|   5.7| 54|     F|
|  3| 124.1|   5.2| 23|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

In [ ]:
df = df.dropDuplicates()

In [ ]:
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  5| 133.2|   5.7| 54|     F|
|  5| 129.2|   5.3| 42|     M|
|  1| 144.5|   5.9| 33|     M|
|  4| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
+---+------+------+---+------+

In [ ]:
airports = spark.read.csv("/content/drive/MyDrive/Testing.txt",header='true',
inferSchema='true', sep='\t')

In [ ]:
airports.createOrReplaceTempView("Airports")

In [ ]:
flightPerf = spark.read.csv("/content/drive/MyDrive/Testing2.csv",header='true')

In [ ]:

flightPerf.createOrReplaceTempView("FlightPerformance")

In [ ]:
flightPerf.show()

+--------+-----+--------+------+-----------+
|    date|delay|distance|origin|destination|
+--------+-----+--------+------+-----------+
|01011245|    6|     602|   ABE|        ATL|
|01020600|   -8|     369|   ABE|        DTW|
|01021245|   -2|     602|   ABE|        ATL|
|01020605|   -4|     602|   ABE|        ATL|
|01031245|   -4|     602|   ABE|        ATL|
|01030605|    0|     602|   ABE|        ATL|
|01041243|   10|     602|   ABE|        ATL|
|01040605|   28|     602|   ABE|        ATL|
|01051245|   88|     602|   ABE|        ATL|
|01050605|    9|     602|   ABE|        ATL|
|01061215|   -6|     602|   ABE|        ATL|
|01061725|   69|     602|   ABE|        ATL|
|01061230|    0|     369|   ABE|        DTW|
|01060625|   -3|     602|   ABE|        ATL|
|01070600|    0|     369|   ABE|        DTW|
|01071725|    0|     602|   ABE|        ATL|
|01071230|    0|     369|   ABE|        DTW|
|01070625|    0|     602|   ABE|        ATL|
|01071219|    0|     569|   ABE|        ORD|
|01080600|    0|     369|   ABE|        DTW|
+--------+-----+--------+------+-----------+
only showing top 20 rows

In [ ]:
#header = flightPerf.first()
flightPerf.select('date').rdd.flatMap(list).collect()

In [ ]:
flightPerf.groupBy('distance').count().show()

+--------+-----+
|distance|count|
+--------+-----+
|     296| 1191|
|     829| 3898|
|     675|  362|
|    2069|  335|
|    1159|  553|
|     691|  337|
|    2294|  540|
|    1090|    1|
|     125| 1595|
|     451|  360|
|     944|  669|
|     800|  444|
|    1241| 1192|
|     666|  360|
|     124|  288|
|     447| 2351|
|     591| 3383|
|    1953| 1834|
|     475| 4908|
|     574|  407|
+--------+-----+
only showing top 20 rows

In [ ]:
titanic_df = spark.read.csv("/content/drive/MyDrive/titanic.csv",header='true')
titanic_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
titanic_df.groupBy('Survived').count().show()

+--------+-----+
|Survived|count|
+--------+-----+
|       0|  549|
|       1|  342|
+--------+-----+

In [ ]:
titanic_df.describe('Age').show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|               714|
|   mean| 29.69911764705882|
| stddev|14.526497332334035|
|    min|              0.42|
|    max|                 9|
+-------+------------------+

In [ ]:
titanic_df.filter(titanic_df.Cabin.isNull()).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|  35|    0|    0|          239865|     26| null|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|  15|    0|    0|          330923| 8.0292| null|       Q|
|         25|       0|     3|Palsson, Miss. To...|female|   8|    3|    1|          349909| 21.075| null|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|  38|    1|    5|          347077|31.3875| null|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|            2631|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
titanic_df.filter(titanic_df.Cabin.isNull()).count()

687

In [ ]:
df = titanic_df.drop("Cabin")

In [ ]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
only showing top 20 rows

In [ ]:
df_new = df.filter(df.Age.isNotNull()).collect()

In [ ]:
df_new = spark.createDataFrame(df_new)

In [ ]:
df_new.show()

+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male| 22|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female| 38|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female| 26|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female| 35|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male| 35|    0|    0|          373450|   8.05|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male| 54|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male|  2|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female| 27|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female| 14|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|  4|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female| 58|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male| 20|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male| 39|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female| 14|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female| 55|    0|    0|          248706|     16|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|  2|    4|    1|          382652| 29.125|       Q|
|         19|       0|     3|Vander Planke, Mr...|female| 31|    1|    0|          345763|     18|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male| 35|    0|    0|          239865|     26|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male| 34|    0|    0|          248698|     13|       S|
|         23|       1|     3|"McGowan, Miss. A...|female| 15|    0|    0|          330923| 8.0292|       Q|
+-----------+--------+------+--------------------+------+---+-----+-----+----------------+-------+--------+
only showing top 20 rows

In [ ]:
means = df_new.agg(*[fn.mean(c).alias(c) for c in df_new.columns if c == 'Age']).toPandas().to_dict('records')[0]

In [ ]:
means

{'Age': 29.69911764705882}

In [ ]:
#df.fillna(value = df.agg({"Age": 'mean'}), subset=["Age"])
df = df.fillna(value = means, subset=["Age"])

In [ ]:
df.show()

+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|              Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|               22|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|               38|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|               26|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|               35|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|               35|    0|    0|          373450|   8.05|       S|
|          6|       0|     3|    Moran, Mr. James|  male|29.69911764705882|    0|    0|          330877| 8.4583|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|               54|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male|                2|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|               27|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|               14|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|                4|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|               58|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|               20|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|               39|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|               14|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|               55|    0|    0|          248706|     16|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|                2|    4|    1|          382652| 29.125|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.69911764705882|    0|    0|          244373|     13|       S|
|         19|       0|     3|Vander Planke, Mr...|female|               31|    1|    0|          345763|     18|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.69911764705882|    0|    0|            2649|  7.225|       C|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+--------+
only showing top 20 rows

In [ ]:
columns = ['Age','Fare']

In [ ]:
df_new = df_new.withColumn("Age", df_new['Age'].cast('float'))
df_new = df_new.withColumn("Fare", df_new['Fare'].cast('float'))

In [ ]:
df_new.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|   26.0|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|   13.0|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923| 8.0292|       Q|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
only showing top 20 rows

In [ ]:
bounds = {}
for col in columns:
  quantile = df_new.approxQuantile(col,[0.50, 0.75], 0.05)
  IQR = quantile[1] - quantile [0]
  bounds[col] = quantile[0] - 1.5 * IQR, quantile[1] + 1.5 * IQR

In [ ]:
bounds

{'Age': (16.0, 48.0), 'Fare': (-8.75, 53.25)}

In [ ]:
df_final = df_new[(df_new['Age'] >= bounds['Age'][0]) & (df_new['Age'] <= bounds['Age'][1]) & (df_new['Fare'] >= bounds['Fare'][0]) & (df_new['Fare'] <= bounds['Fare'][1])]

In [ ]:
df_final.count()

462

In [ ]:
!pip3 install bokeh

Requirement already satisfied: bokeh in /usr/local/lib/python3.7/dist-packages (2.3.3)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.7/dist-packages (from bokeh) (21.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh) (2.8.1)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from bokeh) (3.13)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from bokeh) (1.19.5)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh) (3.7.4.3)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh) (7.1.2)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.7/dist-packages (from bokeh) (5.1.1)
Requirement already satisfied: Jinja2>=2.9 in /usr/local/lib/python3.7/dist-packages (from bokeh) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.9->bokeh) (2.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=16.8->bokeh) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh) (1.15.0)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
#import bokeh.plotting as chrt
#from bokeh.io import output_notebook
#output_notebook()

In [ ]:
spark.sql("""
Select a.City, 
f.origin
from FlightPerformance f 
join airports a 
on  a.IATA = f.origin 
where  a.State = "WA"
group by a.City, f.origin 
"""
).show()

In [ ]:
spark.sql("""
Select f.origin
from FlightPerformance  f 
where f.origin = 'ABE'
"""
).show()

+------+
|origin|
+------+
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
|   ABE|
+------+
only showing top 20 rows

In [ ]:
spark.sql("""
Select IATA
from Airports  
where IATA = 'ABE'
"""
).show()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

AnalysisException: ignored

In [ ]:
airports.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- IATA: string (nullable = true)

In [ ]:
%sql
Select a.City, f.origin, sum(f.delay) as Delays
from FlightPerformance f
join airports a
on a.IATA = f.origin
where a.State = 'WA'
group by a.City, f.origin
order by sum(f.delay) desc

In [ ]:
df_miss = spark.createDataFrame([ (1, 143.5, 5.6, 28,'M', 100000),
(2, 167.2, 5.4, 45, 'M', None),
(3, None , 5.2, None, None, None),
(4, 144.5, 5.9, 33, 'M', None),
(5, 133.2, 5.7, 54, 'F', None),
(6, 124.1, 5.2, None, 'F', None),
(7, 129.2, 5.3, 42, 'M', 76000),
], ['id', 'weight', 'height', 'age', 'gender', 'income'])

In [ ]:
df_miss.show()

+---+------+------+----+------+------+
| id|weight|height| age|gender|income|
+---+------+------+----+------+------+
|  1| 143.5|   5.6|  28|     M|100000|
|  2| 167.2|   5.4|  45|     M|  null|
|  3|  null|   5.2|null|  null|  null|
|  4| 144.5|   5.9|  33|     M|  null|
|  5| 133.2|   5.7|  54|     F|  null|
|  6| 124.1|   5.2|null|     F|  null|
|  7| 129.2|   5.3|  42|     M| 76000|
+---+------+------+----+------+------+

In [ ]:
df_miss.rdd.map(lambda row: (row['id'], sum([c == None for c in row]))).collect()

[(1, 0), (2, 1), (3, 4), (4, 1), (5, 1), (6, 2), (7, 0)]

In [ ]:
df_miss.rdd.map(lambda row: (row['id'], sum([c == None for c in row]))).collect()

[(1, 0), (2, 1), (3, 4), (4, 1), (5, 1), (6, 2), (7, 0)]

In [ ]:
df_miss.where('id == 3').show()
df_miss_no_income = df_miss.select([c for c in df_miss.columns if c != 'income'])
df_miss_no_income.dropna(thresh=3).show()
import pyspark.sql.types as typ